// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 FriendlyElec Computer Tech. Co., Ltd.
 * (http://www.friendlyarm.com)
 */

/dts-v1/;

/ {
    model = "FriendlyElec NanoPC-T4";
    compatible = "friendlyelec,nanopc-t4", "rockchip,rk3399";
};
